.chartTitle {
    font-size:              2em;
}

.legend {
    font-size:              12px;
}
rect {
    stroke-width:           2;
}

.module{
    background-color:       rgba(0,0,0,0.05);
    float:                  left;
    box-sizing:             border-box;
    margin:                 10px;
}
.size1{
    width:                  165px;
    height:                 165px;
}
.size2{
    width:                  350px;
    height:                 350px;
}
.size3{
    width:                  720px;
    height:                 350px;
}