.thinAxis path,
.thinAxis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.noAxis path,
.noAxis line {
  fill: none;
}

.visibleTicks .tick{
    stroke: rgba(0,0,0,0.15);
    shape-rendering: initial;
}

main svg:not(.noOverflow){
	overflow: visible;
}

.relative {
	position: relative;
}

div.main {
    height: 100vh;
    box-sizing: border-box;
    overflow-y: auto;
}

.side-nav.fixed a {
	padding-right: 20px
}

nav i.material-icons {
    margin-right: 12px;
	margin-top: 6px; 
}

body{background-color: #F3F3F3;}

#slide-out {
  transition: left ease-out 0.2s, transform ease-out 0.2s;
  width: 240px !important;
  display: block;
}

nav {
	transition: margin-top ease-out 0.2s;
	margin-top: 0;
}

nav .tabs .tab {
	text-align: left;
    line-height: 64px;
    height: 64px;
    width: 100%;
}

nav .tabs .tab .active{
	background-color: rgba(0,0,0,0.09);
}

nav .tabs .tab a:hover {
    color: #C3C3C3;
}

nav a {
    padding: 0px 8px !important;
}

#AppName{
	padding: 0 30px;
	font-size: x-large;
	font-weight: 400;
}

#AppName span {
		    width: 100%;
		    display: block;
}

#AppName svg {
	position: relative;
	top: 8px;
	right: -20px;
	float: right;
}

 header, main, footer {
   padding-left: 240px;
  transition : padding-left ease-out 0.2s;
}
main {
	padding-top: 4px;
}

main > div.tab-pane > div.row {
	margin-bottom: 0;
}

@media only screen and (max-width : 992px) {
  header, main, footer, nav>ul.show-on-med-and-down{
    padding-left: 80px;
  }
	#slide-out {
	  left : 80px;
	}
}

@media (max-width: 600px) {
	nav {
		margin-top: -60px;
	}
}

.modalBadge {
	position: absolute;
    right: 0px;
    bottom: 0px;
    background-color: black;
    width: 32px;
    height: 32px;
    color: white;
    border-radius: 16px;
    padding: 4px;
    -webkit-user-select: none;
    transition: box-shadow 0.2s,
    	bottom 0.2s,
    	right 0.2s,
    	opacity 0.2s;
    opacity: 0;
    cursor: default;
}

.modalBadge.show {
	box-shadow: 0 12px 15px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    right: -8px;
    bottom: -8px;
    opacity: 1;
    cursor: pointer;
}

.warningBadge {
	position: absolute;
    right: 3px;
    top: 3px;
    font-size: 32px;
    color: #FFCC07;
    -webkit-user-select: none;
    transition: box-shadow 0.2s, bottom 0.2s, right 0.2s, opacity 0.2s;
    opacity: 0;
    cursor: default;
}

.warningBadge.show {
    opacity: 1;
    cursor: pointer;
}

.errorBadge {
	position: absolute;
    right: 3px;
    top: 3px;
    font-size: 32px;
    color: #F44336;
    -webkit-user-select: none;
    transition: box-shadow 0.2s, bottom 0.2s, right 0.2s, opacity 0.2s;
    opacity: 0;
    cursor: default;
}

.errorBadge.show {
    opacity: 1;
    cursor: pointer;
}

.module-modal {
	width: 70%;
	min-height: 80%;
	max-height: 80%;
}

.card .card-title {
	text-align: center;
}

.card {
    overflow: hidden;
}